@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.inter-draw {
  background: #fff;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
}
.inter-right--top {
  background: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 100px;
}
.inter-right--bottom {
  background: #fff;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.inter-crop {
  background: #fff;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
}
.card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
  transform: scale(1);
  background-color: #a8e4a8;
}
.my-alert-danger {
  background-color: rgb(251 101 49);
  color: white;
  text-decoration: line-through;
}

.cus-float-left {
  float: left !important;
}
.stock-store,
.stock-store-header {
  background-color: #45214299;
  color: White;
  border: 1px Solid rgb(85, 165, 138);
  border-radius: 5px;
  line-height: 2;
}
.stock-store-header {
  background-color: #45245299;
}

.stock-store > .cus-float-left {
  border: 2px Solid #acd5d399;
  height: 100%;
}
